* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.font-geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --background-color: #000;
  --background-gradient-1: oklch(15.09% 0.0818 285.138);
  --background-gradient-2: oklch(25.767% 0.09939 308.408);
  --font-color: #e2e2e2;
}

body {
  background-color: #000;
  background:
    radial-gradient(circle at 100% 75%,
      var(--background-gradient-2),
      oklch(from var(--background-gradient-2) 2% .2 290) 50%,
      transparent), radial-gradient(circle at 0 25%,
      var(--background-gradient-1),
      oklch(from var(--background-gradient-1) 2% .2 210) 50%,
      transparent);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  min-height: 100vh;
}

main {
  height: 100vh;
}

.container {
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color:  #FFFFFF10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#main-content {
  color: var(--font-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  margin-top: 15dvh;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  gap: 2rem;
  padding: 20px;

  & h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  & .portrait {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: auto;
  }

  & .code-is-life {
    font-size: 2rem;
    line-height: 1.6;
  }

  & .about-me {
    margin-top: 1rem;
    text-wrap: balance;
    max-width: 50dvw;
    font-size: 1.5rem;
    line-height: 1.6;

    & br {
      display: block;
      margin: 5px 0;
    }
  }
}

#links-and-skills {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  width: fit-content;
  margin: 0 auto;
  margin-top: 5dvh;
  width: fit-content;
  color: var(--font-color);

  & #skills, & #links {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  & #skills {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  & .skill {
    display: flex;
    gap: 1rem;

    & span {
      align-self: center;
      font-size: 1.5rem;
    }

    & img {
      width: 36px;
      height: 36px;
    }
  }

  & #links {
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    & .link {
      color: var(--font-color);
      text-decoration: none;
      display: flex;
      gap: 1rem;
      font-size: 1.5rem;

      & img {
        width: 36px;
        height: 36px;
      }

      & span {
        align-self: center;
      }
    }
  }
}